.mainContainer {
  height: 100vh;
  width: 100vw;
  background: #7b92a8;
}

.iPadShellContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.iPadShell {
  height: calc(1059.84px * 0.77);
  width: calc(812.16px * 0.77);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iPadContentSpace {
  width: 93.6%;
  height: 85.9%;
}

.consumerTemplate {
  height: 100%;
  width: 100%;
}

.omniPanelContainer {
  height: 9.2%;
  position: absolute;
  width: 92.6%;
  top: 58px;
}

.omniPanel {
  height: 50%;

}

.omniSearch {

}

.omniSearch {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.dockContainer {
  position: relative;
  border: 2px solid pink;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dock {
  font-family: Orpheus-Pro;
}