* {
  font-family: Orpheus-Pro;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  background: #7b92a8;
}

.tree {
  height: 23px;
  width: 23px;
  position: absolute;
}

.tree:hover {
  transform: scale(1.2);
}

.iPadShellContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.iPadShell {
  height: calc(1059.84px * 0.77);
  width: calc(812.16px * 0.77);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treeContainer {
  position: absolute;
  color: white;
  display: flex;
  width: 585.3px;
  top: 142px;
  justify-content: center;
}

.iPadContentSpace {
  width: 585.3px;
  height: 700px;
  margin-top: 45px;
}

.consumerTemplate {
  width: 585.3px;
  height: 700px;
  top: 98px;
  position: absolute;
}

.omniPanelContainer {
  height: 9.2%;
  position: absolute;
  width: 91.1%;
  top: 28px;
}

.omniPanel {
  height: 50%;
  bottom: 1px;
  position: relative;
}

.omniSearch {

}

.omniSearch {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.dockContainer {
  position: relative;
  height: 100%;
  display: flex;
  background: rgb(81, 81, 81);
  justify-content: center;
  align-items: center;
}

.dock {
  cursor:crosshair;
  font-family: Orpheus-Pro;
  /* color: #4be2e2;  */
  /* Neon Cyan^ */
  color: #0fefef; 
  font-size: 21px;
  /* Crisp's Cyan^ */
}